---
import '../styles/global.css'
---

<main class="landing">

  <div class="bg-circle pink"></div>
  <div class="bg-circle blue"></div>
  <div class="bg-circle purple"></div>

  <section class="hero-card">

    <div class="badge">
      ✨ Serverless Productivity App
    </div>

    <h1 class="hero-title">
      Taskly
    </h1>

    <p class="hero-subtitle">
      Organiza tus tareas, guarda todo en la nube y accede desde cualquier lugar con tu cuenta personal.
    </p>

    <div class="hero-buttons">
      <a class="hero-primary" href="/register">
        Crear cuenta
      </a>

      <a class="hero-secondary" href="/login">
        Iniciar sesion
      </a>
    </div>

    <section class="features">

      <article class="feature-card">
        <span>☁️</span>
        <h3>Cloud</h3>
        <p>Tareas guardadas en Supabase.</p>
      </article>

      <article class="feature-card">
        <span>🔐</span>
        <h3>Auth</h3>
        <p>Registro e inicio de sesion seguro.</p>
      </article>

      <article class="feature-card">
        <span>⚡</span>
        <h3>Fast</h3>
        <p>Aplicacion moderna y super rapida.</p>
      </article>

    </section>

  </section>

</main>