---
import { supabase } from '../lib/supabase'

const { data: tasks, error } = await supabase
  .from('tasks')
  .select('*')
---

<h1>Lista de tareas</h1>

{error && <p>Error cargando tareas</p>}

<ul>
  {tasks?.map((task) => (
    <li>
      <strong>{task.title}</strong> - {task.description}
    </li>
  ))}
</ul>